.achievements{
    width: 80%;
    min-height: 100vh;
    /* background-color: rgb(127,64,152); */
    color: #000;
    padding-top: 4%;
    padding-left: 10%;
    text-align: center;
}
.input-box img{
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
.achievements-button{
    background-color: aliceblue;
    color: rgb(127,64,152);
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    outline: none;
    border-radius: 10px;
}
.btn{
    height: 7vh;
    border-radius: 10px;
}
h1{
    color: white;
    font-size: 300%;
}
body{
    background-color: rgb(150, 115, 184);
}
a{
text-decoration: none;
}