#navbar{
display: flex;
justify-content: space-evenly;
background-color: rgb(90, 54, 123);
height: 200px;
font-size: 30px;
margin-top: 10px;
/* margin-bottom: 30px; */
}

#Inspiration{
 font-size: large;
}

a{
text-decoration: none;
color: azure;
}
.logo{
width: 100px;
height: 70px;
}
.images{

}
.journey{
width: 1000px;
}
.welcome
button{
color: white;
border-radius: 40px;
width: 50px;
height: 20px;


}
#welcome{
margin-left: 20%;
}
.Imageprogress{
width: 800px;
margin-left: 10%;
}


#page{
justify-content: center;
margin-left: 20%;

}

.graphicsImage{
margin-left: 40%;
width: 500px;

}
#footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.Akirachix{
    width: 50px;
    height: 50px;
}

        
   
       

    
   