.input{
    width: 400px;
    height: 50px;
    border-radius: 15px;
    color: black;
    


 }
  .button{
width: 200px;
height: 30px;
border-radius: 50px;
color:white;
background-color: black;
  }
  #form{
  margin-top: 100px;
  margin-bottom: 30px;
    text-align: center;
    border: solid 1px;
    border-radius: 20px;
    width: 500px;
    justify-content: center;
    margin-left: 35%;
    background-color: white;
    
    

  }
  .Bird{
    width: 200px;
    /* height: 100vh; */
  }
  body{
  background-color: rgb(138, 121, 155);
  }
  

  .submitbutton{
  width: 200px;
        height: 30px;
        margin-bottom: 5%;
        border-radius: 50px;
        color:white;
        background-color: black;
  }
  @media only  screen and (max-width : 650px) {


    body{
    overflow-x: hidden;
    margin: 0;
    }
    .input{
      width: 100px;
      height: 30px;
      border-radius: 15px;
      color: black;
      
  
  
   }
    .button{
  width: 100px;
  height: 30px;
  border-radius: 50px;
  color:white;
  background-color: black;
    }
    #form{
      text-align: center;
      border-radius: 5px;
      width: 200px;
      justify-content: center;
      background-color: white;
      margin-left: 80px;
    margin-right: 0;
      
  
    }
    .Bird{
      width: 200px;
      /* height: 100vh; */
    }
    body{
    background-color: rgb(138, 121, 155);
    }
    
  
    .submitbutton{
    width: 90px;
          height: 30px;
          margin-bottom: 5%;
          border-radius: 50px;
          color:white;
          background-color: black;

  
    }
    .Heading{
      font-size: small;
    }

  }
  @media only  screen and (max-width : 1268px) {
    body{
      overflow-x: hidden;
      margin: 0;
      }
      .input{
        width: 100px;
        height: 30px;
        border-radius: 15px;
        color: black;
        
    
    
     }
      .button{
    width: 100px;
    height: 30px;
    border-radius: 50px;
    color:white;
    background-color: black;
      }
      #form{
        text-align: center;
        border-radius: 5px;
        width: 200px;
        justify-content: center;
        background-color: white;
        margin-left: 80px;
      margin-right: 0;
        
    
      }
      .Bird{
        width: 200px;
        /* height: 100vh; */
      }
      body{
      background-color: rgb(138, 121, 155);
      }
      
    
      .submitbutton{
      width: 90px;
            height: 30px;
            margin-bottom: 5%;
            border-radius: 50px;
            color:white;
            background-color: black;
  
    
      }
      .Heading{
        font-size: small;
      }
  
    }


  
  
  
  
  

  