#navbar{
display: flex;
justify-content: space-evenly;
background-color: rgb(152, 108, 193);
color: white;


}
a{
text-decoration: none;
color: white;

}
.logo{
width: 200px;
height:150px ;
}
.title{
    text-align: center;

}
#profile{
text-align: center;
border: solid 1px;
width: 500px;
margin-left: 40%;
border-radius: 5%;
margin-top: 10%;


}
.image{
width: 300px;
}

